// // movie-card.scss
// @use '../../styles/variables' as vars;

// .movie-card {
//   border: 1px solid vars.$secondary-color;
//   background-color: vars.$primary-color;
//   cursor: pointer;
//   transition: transform 0.2s ease-in-out;

//   &:hover {
//     transform: scale(1.05);
//   }
// }

// movie-card.scss
@use "../../styles/variables" as vars;

.movie-card {
  border: 1px solid vars.$secondary-color;
  background-color: vars.$primary-color;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}
