@import "../../styles/variables";

.movie-view {
  color: $primary-color;
}

.movie-view {
  text-align: center;
  padding: 20px;

  h1 {
    color: $primary-color;
  }
}

.back-button {
  padding: 4px 12px 4px 12px;
  color: whitesmoke;
  background-color: dodgerblue;
  border: none;
  border-radius: 4px;
}