
/* General Styles for LoginView */
.login-view {
  max-width: 450px;
  margin: 80px auto; /* Centers the form vertically and horizontally */
  padding: 40px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

h2 {

  font-family: "Arial", sans-serif;
  font-size: 1.75rem;
  color: #333;
  margin-bottom: 20px;
}

.text-center {
  text-align: center;
}

.alert {
  margin-bottom: 20px;
  font-size: 1rem;
}

button {
  font-size: 1rem;
  padding: 10px;
  border-radius: 5px;
}

.form-label {
  font-size: 1rem;
  color: #555;
}

input {
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
}

input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(38, 143, 255, 0.5);
}

.w-100 {
  width: 100%;
}

button {
  background-color: #007bff;
  border-color: #007bff;
  color: white;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #0056b3;
  border-color: #004085;
}

button:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}
